<h1>Sign Up</h1>
<form method='post' action='/auth/signup'>
	<div class='form-group'>
		<label for='email'>Email:</label>
		<input type='text' name='email' class='form-control' placeholder='Type your email'>
	</div>
<div class='form-group'>
		<label for='username'>Username:</label>
		<input type='text' name='username' class='form-control' placeholder='Type your username'>
	</div>
	<div class='form-group'>
		<label for='password'>Password:</label>
		<input type='password' name='password' class='form-control' placeholder='Type your password'>
	</div>
	<div class='form-group'>
		<label for='firstname'>First name:</label>
		<input type='text' name='firstname' class='form-control' placeholder='Type your first name'>
	</div>
	<div class='form-group'>
		<label for='lastname'>Last name:</label>
		<input type='text' name='lastname' class='form-control' placeholder='Type your last name'>
	</div>
	<div class='form-group'>
		<label for='birthDay'>What day were you born on?</label>
		<input type='number' name='birthDay' class='form-control' placeholder='Input your birthdate'>
	</div>
	<div class='form-group'>
		<label for='birthMonth'>What month were you born in?</label>
		<input type='number' name='birthMonth' class='form-control' placeholder='Input your birth month'>
	</div>
	<hr>
	<input type='submit' name="" value='Sign Up' class='btn btn-success'>
</form>