<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h1>Prince Horoscope</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<img src="http://www.aceshowbiz.com/images/new_artist/prince.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h3>'These computers and digital gadgets are no good. They just fill your head with numbers and that can't be good for you.'</h3>
		</div>
	</div>
</div>

