<!DOCTYPE html>
<html>
<head>
	<title>Prince Horoscope</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="//code.jquery.com/jquery.js"></script>
</head>
<body>
	<div class='container'></div>
	<div class='row'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center'>
			<a href='/' class='btn btn-default'>Home</a>
			<a href='auth/login' class='btn btn-default'>Login</a>
			<a href='auth/signup' class='btn btn-default'>Sign Up</a>
			<a href='auth/logout' class='btn btn-default'>Logout</a>
			<a href='/profile' class='btn btn-default'>Profile</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% include partials/alerts %>%> 
			<%-body%>
			<br>
			<br>
			<br>
		</div>
	</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
</body>
</html>