@font-face {
    font-family: 'stillTime';
    src: url('still_time.ttf') format('truetype'),
         
}

body {
  background-color: #622f75;
}

h3  {
  color: #ffffff;
}

h2  {
  color: #ffffff;

}

h1 {
  color: #ffffff;
}


  #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }