@font-face {
    font-family: StillTime;
    src: url('./fonts/still-time/stilltime.ttf') format('truetype'),      
}

body {
  background-color: #622f75;
  color: #ffffff;
}

h3  {
  color: #ffffff;
}

h2  {
  color: #ffffff;

}

h1 {
  color: #ffffff;
  font-family: StillTime, sans-serif; 
}

.btn-default {
  color: #622f75;
}

#login {
  display: none;
}

#loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}